/* open sans font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

/* * css  */
:root {
    --secondry_font_size: 16px;
    --primary_Font_size: 1.4rem;
    --content_heading: 2rem;
    --list_margin_bottom: .5rem;
    --heading_font_weight: 600;
    --box-shadow: 0px 2px 6px 1px lightgrey;
    --box_normal_text: 500;
}
/* *{
    border: 1px solid red;
} */

.normalText {
    font-size: var(--secondry_font_size);
    font-weight: var(--box_normal_text);
}

.primaryHeading {
    font-size: var(--primary_Font_size);
    font-weight: var(--heading_font_weight);
}

.mainHeading {
    font-size: var(--content_heading);
    font-weight: var(--heading_font_weight);
}

.box_shadow {
    box-shadow: var(--box-shadow);
}

html {
    scroll-behavior: smooth;
}
button:focus, button:active, button:hover{
    outline: none !important;
    cursor: pointer;
}

.btn:focus {
    outline: none !important;
    box-shadow: unset !important;
}
.pageBanner {
    height: 450px;
    width: 100%;
    background-size: cover;
}

 /* drop down css  */

 .dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    outline: none !important;
    text-decoration: none;
    background-color: #e7455f4a !important;
    font-weight: 500;
}
.dropdown-item.active, .dropdown-item:active {
    color: #16181b !important;
    text-decoration: none;
    background-color: #e7455f4a !important;
}

.clientStoriesDetailPageImage:hover{
    filter: brightness(1) !important;
}
.form-control:focus, .form-control:active{
    box-shadow: none;
    outline: none;
}

/*============================================================= header css  ============================================================== */
.menu_services_logo {
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.serviceList:hover .serviceName{
    color: #cd1432;
}
.serviceList:hover .Strategy_Performance_Consulting_logo{
    background-image: url(../images/icon_images/services_icons/Strategyp.png);
}
.serviceList:hover .Onshoreb_logo{
    background-image: url(../images/icon_images/services_icons/Onshorep.png);

}
.serviceList:hover .Risk_Compliance_logo{
    background-image: url(../new_icon_images/Governancep_red.png);

}
.serviceList:hover .businessSupport_logo {
    background-image: url(../new_icon_images/BusinessSupportp.png);

}
.serviceList:hover .Legalb_logo{
    background-image: url(../new_icon_images/Legalp.png);

}
.serviceList:hover .financial_capital_Services{
    background-image: url(../images/icon_images/services_icons/Financial&Capitalp.png);
}
.serviceList:hover .Digital_Transformationb_logo{
    background-image: url(../new_icon_images/Digital_Transformationp.png);
}
.serviceList:hover  .Capacityb_logo{
    background-image: url(../new_icon_images/Capacityp.png);
}

.bannerDD {
    background-color: #cd1432;
}

.main-header {
    background-color: #f7f7f7;
    /* width: 65%; */
}

.logo {
    width: 15%;
}

.logo img {
    width: 45% !important;
}

/* .menu {
    width: 46%;
} */

.menu ul a {
    text-decoration: none;
    color: #000 !important;
}

.menu ul li:hover {
    color: #cd1432 !important;
}

.Contact_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header_connectBTN {
    background-color: transparent;
    border: 2px solid whitesmoke;
    box-shadow: 0px 2px 6px 0px grey;
}

.ourPresents,
.ourValues {
    background-color: #c4c4c4;
}

.ourPresents h3,
.ourValues h3 {
    line-height: 41px;
    border-bottom: 2.5px solid;
    width: 50%;
}

.ourPresents ul li span,
.ourValues ul li span {
    font-size: larger;
}

/* ====================================================================== index page css ================================================================ */

.carousel-caption {
    position: absolute;
    top: 15%;
}

/* services section  */

.service_icons {
    width: 130px;
}
.services_logo {
    height: 105px;
    background-size: cover;
}

.offeringservicesHeading:hover {
    color: #cd1432;
}
.financial_capital_Services{
    background-image: url(../images/icon_images/services_icons/Financial&Capitalb.png);
}
.serviceColomn{
    margin-bottom: 1.5rem;
}
.serviceColomn:hover .financial_capital_Services{
    background-image: url(../images/icon_images/services_icons/Financial&Capitalp.png);
}


.Strategy_Performance_Consulting_logo {
    background-image: url(../images/icon_images/services_icons/Strategyb.png);

}
.serviceColomn:hover .Strategy_Performance_Consulting_logo{
    background-image: url(../images/icon_images/services_icons/Strategyp.png);

}
.Onshoreb_logo{
    background-image: url(../images/icon_images/services_icons/Onshoreb.png);

}
.serviceColomn:hover .Onshoreb_logo{
    background-image: url(../images/icon_images/services_icons/Onshorep.png);

}
.Risk_Compliance_logo{
    background-image: url(../new_icon_images/Governanceb_black.png);
}
.serviceColomn:hover .Risk_Compliance_logo{
    background-image: url(../new_icon_images/Governancep_red.png);

}
.businessSupport_logo {
    background-image: url(../new_icon_images/BusinessSupportb.png);

}
.Legalb_logo{
    background-image: url(../new_icon_images/Legalb.png);
}
.serviceColomn:hover .Legalb_logo{
    background-image: url('../new_icon_images/Legalp.png');

}
.Digital_Transformationb_logo{
    background-image: url(../new_icon_images/Digital_Transformationb.png);
}
.serviceColomn:hover .Digital_Transformationb_logo{
    background-image: url(../new_icon_images/Digital_Transformationp.png);
}
.Capacityb_logo{
    background-image: url(../new_icon_images/Capacityb.png);
}
.serviceColomn:hover .Capacityb_logo{
    background-image: url(../new_icon_images/Capacityp.png);
}
.serviceColomn:hover .businessSupport_logo,
.serviceColomn:hover .offeringservicesHeading {
    color: #cd1432;
    background-image: url(../new_icon_images/BusinessSupportp.png);

}

/* client stories section  */

.client_stories_images {
    height: 221px !important;
    filter: brightness(.5);
}
.client_stories_card:hover .client_stories_images{
    filter: brightness(1);
}

.client_story:hover .client_stories_images{
    filter: brightness(1);
}

/* /client stories section  */

/* owl .carousel css  */

.owl_carousel_caption {
    position: absolute;
    bottom: 5%;
}

.owl-item {
    display: flex;
    justify-content: space-around;
}
.offeringservicesdetails {
    font-size: var(--secondry_font_size);
}



/* heramhbh css  */
/* owl .carousel css  */

.owl-carousel button .next-slide {
    position: absolute;
    top: 38%;
    background: white;
    right: 0%;
}

.owl-carousel button .next-slide:hover,
.owl-carousel button .prev-slide:hover {
    background-color: var(--greenTheme);
    color: var(--textWhiteColor);
    border: var(--onHoverTextColor);
}

.owl-carousel button .prev-slide {
    position: absolute;
    top: 38%;
    background: white;
    left: 1%;
}

.nav-link {
    color: #1ab293;
}

.prenavigate,
.postnavigate {
    box-shadow: 0px 1px 2px 0px darkgrey;
    font-size: 24px;
    padding: 0px 11px !important;
    border-radius: 3px;
    color: #cd1432;
    background: transparent;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 0px !important;
}

.prenavigate:focus-visible,
.postnavigate:focus-visible {
    border: 2px solid var(--greenTheme);
    outline: none !important;
}

/* footer css */
footer {
    padding-bottom: 1rem;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    font-size: var(--secondry_font_size);
}

footer a li {
    margin-bottom: var(--list_margin_bottom);
}

footer a:hover {
    color: whitesmoke;
    font-size: var(--secondry_font_size);
}

ul {
    list-style: none;
}

.social_icons .linkedInLogo,
.social_icons .instaLogo,
.social_icons .facebookLogo {
    width: 50px !important;
    height: 50px !important;
}

/* careear page css */

.careearBanner{
    background-image: url(../images/ecovis_banners/homepage_b3_job_vaccancies.png);

}

.job_title {
    background-color: #cd1432;
    width: 20%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.job-title {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.lets_connect {
    background-color: #cd1432;
    padding-bottom: 2rem;
    padding-top: 2.5rem;

}

.lets_connect_button {
    background-color: transparent;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    color: white;
    margin-top: 0px;
    border: 1px solid white;
    justify-content: center;
}

/* map  */
.jvectormap-container {
    height: 100%;
    width: 100%;
}

.pin {
    color: red;
}

.jvectormap-legend-inner {
    margin-bottom: 3px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick {
    width: auto;
    margin-right: 10px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 13px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick-sample {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.jvectormap-marker {
    font-size: 12px;
    fill: black;
}

.jvectormap-container circle {
    fill: red;
}

.client_story {
    width: 95%;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.client_story img {
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* .client_stories_heading {
    font-size: var(--primary_Font_size);
} */

.client_stories_details {
    font-size: var(--secondry_font_size);
}

.select_location {
    background: #ededed;
    margin: auto;
    display: none;
}

#indexProblem {
    width: 25%;
    box-shadow: 0px 2px 4px 0px darkslategrey;
}

.banner_text {
    font-size: var(--content_heading);
    font-weight: var(--heading_font_weight);
    position: absolute;
    top: 0%;
    color: whitesmoke;
    left: 45%;
    top: 48%;
}

/* .careers_banner_text {
    font-size: var(--content_heading);
    font-weight: var(--heading_font_weight);
    position: absolute;
    top: 0%;
    color: whitesmoke;
    left: 47%;
    top: 48%;
} */



.bannerDiv {
    background-image: url(../images/ecovis_banners/homepage_b2_our_team.png);
}

.ConnectUsBanner {
    background-image: url(../ecovis-images/CONACT_US_BANNER.png);
    filter: brightness(1);

}


/* .careers_banner_subtext {
    font-size: var(--primary_Font_size);
    font-weight: var(--box_normal_text);
    position: absolute;
    top: 0%;
    color: whitesmoke;
    left: 39%;
    top: 55%;
} */

.job_post {
    font-size: var(--primary_Font_size);
    font-weight: var(--heading_font_weight);
}

.job-title,
.job_post_discription {
    font-size: var(--secondry_font_size);
    font-weight: var(--box_normal_text);
}

/* client stories page css  */
#clientStory_categry {
    box-shadow: var(--box-shadow);
}

.clientStoryHeading {
    font-size: var(--primary_Font_size);
    font-weight: var(--heading_font_weight);
}

.clientStoryDetails {
    font-size: var(--secondry_font_size);
    font-weight: var(--box_normal_text);
}

.collabrate_banner_text {
    font-size: var(--content_heading);
    font-weight: var(--heading_font_weight);
    position: absolute;
    top: 0%;
    color: whitesmoke;
    left: 46%;
    top: 37%;
}

.collabrate_banner_subtext {
    font-size: var(--primary_Font_size);
    font-weight: var(--box_normal_text);
    position: absolute;
    top: 0%;
    color: whitesmoke;
    left: 20%;
    width: 60%;
    top: 50%;
}
.clientStoriesBannaer{
    background-image: url(../images/ecovis_banners/client_stories.png);
    filter: brightness(1);
}

/* .menterBiheader{
    position: absolute;
    top: 0%;
    color: whitesmoke;
    left: 47%;
    top: 33%;
} */
.menterBidetail {
    position: absolute;
    top: 0%;
    color: whitesmoke;
    left: 42%;
    top: 44%;
}

/* media query  */

@media only screen and (min-width: 1439px) {

    /* index page  */
    /* .menu {
        width: 48% !important;
    } */

    #indexProblem {
        width: 25% !important;
    }
}

@media only screen and (min-width: 1024px) {

    /* index page  */
    /* .menu {
        width: 70%;
    } */

    .logo img {
        width: 65% !important;
    }

    #indexProblem {
        width: 35% !important;
    }
}
@media screen and (max-width:1024px){
    #client_stories_1{
        height: 175px !important;
    }
    .menu {
        width: 75% !important;
    }
}


@media only screen and (max-width: 769px) {

    /* index page  */
    #homebannner {
        z-index: -1;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 30%;
        right: 0%;
    }

    .menu ul {
        display: block !important;
        z-index: 11 !important;
        background: whitesmoke;

    }

    .menu ul li {
        padding: 5px 40px;
    }

    .menu ul li:hover {
        background-color: #cd143336;
        font-weight: 600;
    }

    .logo img {
        width: 100px !important;
    }

    .menu_icon {
        display: block !important;
    }

    #indexProblem {
        width: 55% !important;
    }
   
}

@media only screen and (max-width: 559px) {
    .menu {
        width: 50%;
    }

    #indexProblem {
        width: 95% !important;
    }
    .client_story{
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }
}

/* ======================================================== ecovis services page  ===================================================================== */

/* Strategy_Performance_Consulting_services page  */

.Strategy_Performance_Consulting_servicesBanner{
    background-image: url(../images/ecovis_banners/strategy_perfomance_consulting.png);
    filter: brightness(1);
}

.collabrationBanner{
    background-image: url(../images/ecovis_banners/mentor_bi.png);
    filter: brightness(1);
}

/* ecovis international page css  */

.ecovisInternationalBanner{
    background-image: url(../images/ecovis_banners/ecovis_intl_banner.png);
    /* background-image: url(); */
    filter: brightness(1);

}
/* ecovisIndia page css  */
.ecovisIndiaBanner{
    background-image: url(../images/ecovis_banners/homepage_b1_ecovis_india.png);
}

/* marketing_head page css  */

.marketing_headBanner{
background-image: url(../images/ecovis_banners/marketing_head_banner.png);
filter: brightness(1);

}

/* Business_Analyst page css  */

.Business_AnalystBanner{
    background-image: url(../images/ecovis_banners/business_analys_banner.png);
    filter: brightness(1);
}

/* jobapplication page css  */

.jobapplicationBanner{
    background-image: url(../images/ecovis_banners/Apply_banner.png);
}

/* Private_Limited_CompanyBanner */

.Private_Limited_CompanyBanner{
    background-image: url(../images/ecovis_banners/Apply_banner.png);
}
.One_Person_CompanyBanner{
    background-image: url(../images/ecovis_banners/one_person_company.png);
}
.Business_RestructuringBanner{
    background-image: url(../images/ecovis_banners/business_restructuring.png);

}
.Succession_PlanningBanner{
    background-image: url(../images/ecovis_banners/Succession_planning.png);
}